<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">
</head>
<body>
<div class="container pt-5" id="app">
  <div class="row">
    <div class="col">
      <h1>Cars publication</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="search">Find your car</label>
        <input type="text" id="search" class="form-control" placeholder="Name, model...">
      </div>
      <hr>
      <ul class="list-group">
        <li
          v-for="(car, index) in cars"
          class="list-group-item list-group-item-action pointer"
          v-on:click="selectCar(index)"
          :class="{'active' : selectedCarIndex === index}"
        >
          {{ car.name }} - {{ car.model }}
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-5">
          <h2>{{ car.name }}</h2>
          <img
            :src="car.image"
            :alt="car.name"
            class="rounded"
          >
        </div>
        <div class="col-md-7">
          <h5>Car details</h5>

          <ul>
            <li>Model - <strong>{{ car.model }}</strong></li>
            <li>Year - <strong>{{ car.year }}</strong></li>
            <li>Owner - <strong>{{ car.owner }}</strong></li>
          </ul>

          <p v-if="phoneVisibility">{{ car.phone }}</p>

          <button class="btn btn-outline-success mr-3" v-on:click="phoneVisibility = true">Show phone</button>

          <button class="btn btn-primary">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>